.form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

:is(.form__input, .form__error_input) {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
}

.form__input {
  border: 1px solid #ccc;
}

.form__error_input {
  border: 1px solid #ff0000;
}

.form__error_message {
  color: #ff0000;
}
